<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <img class="post-cover" src="{{ cover }}" alt="{{ title }}" itemprop="image">
  <header class="post-header">
    <time datetime="{{ date }}" itemprop="datePublished">{{ date_formatted }}</time>
    <h1 itemprop="headline">{{ title }}</h1>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer class="post-footer">
    <a href="../index.html" class="back-link">{{ back_text }}</a>
  </footer>
</article>